extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Atlasid = toShow._id 
    - let name= toShow.name
    - let state = toShow.state
    - let stateranking = toShow.stateranking 
    - let actionid = "/resource/Atlass/" + Atlasid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='AtlasAttr mr-3') Atlas ID is: 
        div #{Atlasid} 
      div.row 
        div(class='AtlasAttr mr-3') Atlas name is: 
        div #{name} 
      div.row 
        div(class='AtlasAttr mr-3') Atlas state is: 
        div #{state} 
      div.row 
        div(class='AtlasAttr mr-3') Atlas stateranking is: 
        div #{stateranking} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the Atlas collection 
      window.location.href='/Atlass' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      delete first 
      fetch(actionid, { 
        method: 'DELETE' Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Atlass' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 