extends layout 
block content 
  h1=title 
  - let items = results 
  button.btn( class="btn-primary ml-1", onclick= `click(\"/Atlas/create\")` ) Create a new Item
    table(class="table table-stripped table-bordered")
        thead(style="background-color:brown;color:white") 
            tr
                td Item ID
                td Item name
                td Item state
                td Item stateranking
                td Update
                td Details
                td Delete
        tbody
            
            each item in items
                tr
                    td #{item._id}
                    td #{item.name}
                    td #{item.state}
                    td #{item.stateranking}
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `click(\"/Atlas/update/?id=${item._id}\")` ) Update
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `click(\"/Atlas/detail/?id=${item._id}\")` ) Details
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `click(\"/Atlas/delete/?id=${item._id}\")` ) Delete 
                script. 
                  function click(path){ 
                    window.location.href=path 
                  } 

  - let num=[{name:"America",state:"New York",stateranking:1},{name:"Australia",state:"Sydney",stateranking:2},{name:"France",state:"Paris",stateranking:3}]
  div(class="container-fluid")
  div(class="row")
    each Atlas,index in num 
      table(style='width:100%')
          tr 
              div(class="col-sm-2" onclick=`buy(${index})`) #{Atlas.name}
              div(class="col-sm-2" onclick=`buy(${index})`) #{Atlas.state}
              div(class="col-sm-2" onclick=`buy(${index})`) #{Atlas.stateranking}

    script.

      function buy(itemNo)
      {
        alert(`Your destination ${itemNo+1}`)
      }
